@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* tag styles */

body{
    background-color: black;
    color: #D6D6D6;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    font-size: 18px;
}

input, select{width: 50%; display: block; margin: auto; margin-top: 10px; margin-bottom: 15px; padding: 7px;}

input[type=text]:focus, .glow{ border: 5px solid lightseagreen; }

/* element styles */

#submit-new-car{ background-color: lightseagreen; margin-top: 40px; margin-bottom: 40px; font-family: 'Lobster', cursive; font-size: 20px;}

#car-added-popup{ background-color: black; font-family: 'Lobster', cursive; padding: 8px; }

/* container styles */

.title-box{ padding: 9px 0 9px 0;}

#add-car-box{ margin: auto; width: 60%; }

#car-count-box{position: absolute; right: 30px; font-size: 50px; font-family: 'Lobster', cursive;}

#parent-cars-box{margin: auto; width: 80%;}

.car-container{margin: 30px auto 30px auto; height: 230px; width: 75%; border: 5px solid white;}

/* text styles */

.title { font-family: 'Lobster', cursive; font-size: 48px;}

.heading{ font-family: 'Lobster', cursive; font-size: 34px; }

#fields-list{list-style-position: inside; list-style-type: circle; padding: 0;}

/* image styles */

.banner-image {max-height: 200px; width: 100%; object-fit: cover;}

/* car container styles */
.car-banner {display: inline-block; height: 33%; width: 95%; background-size: cover; background-position: center; 
    font-size: 46px; text-align: right; font-weight: bold; font-family: 'Lobster', cursive; padding-right: 5%;}
.car-banner.london{background-image: url('../images/garages/london.jpg'); background-position-y: 30%;}
.car-banner.tokyo{background-image: url('../images/garages/tokyo.jpg');}
.car-banner.berlin{background-image: url('../images/garages/berlin.jpg');}
.car-banner.losangeles{background-image: url('../images/garages/losangeles.jpg');}
.car-banner.montecarlo{background-image: url('../images/garages/montecarlo.jpg'); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

.car-banner .flag-img { float: left; height: 85%; width: 120px; background-size: contain; background-repeat: no-repeat;}
.car-banner .flag-img.london{background-image: url('../images/garages/uk-flag.png');}
.car-banner .flag-img.tokyo{background-image: url('../images/garages/japan-flag.png');}
.car-banner .flag-img.berlin{background-image: url('../images/garages/german-flag.png');}
.car-banner .flag-img.losangeles{background-image: url('../images/garages/usa-flag.png');}
.car-banner .flag-img.montecarlo{background-image: url('../images/garages/monaco-flag.png');}

.car-body{text-align: left; margin-left: 27px; height: 66%;}
.car-body .manufacturer-name{font-family: 'Lobster', cursive; font-size: 45px; display: inline;}
.car-body .model-name{font-family: 'Lobster', cursive; font-size: 38px;}
.car-body .delete-btn{display: inline; float: right; margin: 20px 25px 0 0; padding: 4px; border: 2px solid white; cursor: pointer;}

/* special properties */

.positive-border{ border: 5px solid lightseagreen; }

.negative-border{ border: 5px solid lightcoral; }