@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* tag styles */

body{
    background-color: black;
    color: #D6D6D6;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    font-size: 18px;
}

input, select{width: 50%; display: block; margin: auto; margin-top: 10px; margin-bottom: 15px; padding: 7px;}

input[type=text]:focus, .glow{ border: 5px solid lightseagreen; }

/* element styles */

#submit-new-car{ background-color: lightseagreen; margin-top: 40px; margin-bottom: 40px; font-family: 'Lobster', cursive; font-size: 20px;}

#car-added-popup{ background-color: black; font-family: 'Lobster', cursive; padding: 8px; }

/* container styles */

.title-box{ padding: 9px 0 9px 0;}

#add-car-box{ margin: auto; width: 60%; }

#parent-cars-box{margin: auto; width: 80%;}

/* text styles */

.title { font-family: 'Lobster', cursive; font-size: 48px;}

.heading{ font-family: 'Lobster', cursive; font-size: 34px; }

#fields-list{list-style-position: inside; list-style-type: circle; padding: 0;}

/* image styles */

.banner-image {max-height: 200px; width: 100%; object-fit: cover;}

/* special properties */

.positive-border{ border: 5px solid lightseagreen; }

.negative-border{ border: 5px solid lightcoral; }